@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Sans:wght@300&family=Open+Sans:ital,wght@1,500&family=Roboto:wght@300&display=swap');
body{
    margin: 0;
    box-sizing: 0;
    background-image: url(../img/giphy.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    font-family: fontdafont;
    color: white;
}
@font-face {
    font-family: fontdafont;
    src: url(../fonts/Typography.otf);
}

/* Tag main que pega todo conteudo principal */
main{
    display: flex;
    margin: 50px;
    justify-content: center;
    flex-direction: column;
}
.form-frm{
    display: flex;
    flex-direction: column;
}

/* Titulo do Bem-Vindo */
h2{
    margin: 50px;
}
/* titulo "Qual linguagem..*/
#msg-titulo{
    font-size: 25px;
   
}
.chooseCod{
    margin-bottom: 30px;
}
.adicionando{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.codification-cdf, .lang-cifra, .form-frm, .mov-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-cesar{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.div-64{
    font-size: 20px;
    margin-bottom: 30px;
}
#msg-titulo1{
    font-size: 25px;
  
}

#numberCesar{
    display: flex;
    margin-top: 10px;
    padding: 5px;
    width: 100px;
    text-align: center;
    margin-bottom: 25px;
  
    border-radius: 15px;
}

#msg-titulo2{
    font-size: 25px;
    

}

/* caixa de mensagem, entrada */
#text-codi-entrada{
    padding: min(5%, 60px);
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: 15px;
    background: #1f2521;
    color: #b522b5;
    font: message-box;
    /* tag para retirar a alça de puxar o tamanho */
    resize: none;
}

/* caixa de mensagem, resultado */
#text-codi-saida{
    padding: min(5%, 60px);
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: 15px;
    background: #1f2521;
    color: #b522b5;
    font: message-box;
    /* tag para retirar a alça de puxar o tamanho */
    resize: none;
}

.radio-btn-cesar{
    font-size: 20px;
}


.radio-btn-64{
    font-size: 20px;
    
}
.mov-btn{
    display: flex;
    justify-content: center;
}

/* Botão para codificação */
#codificar-btn{
    padding: 10px 38px 10px 38px;
    border-radius: 20px;
    margin-bottom: 25px;
    background: #b522b5;
}

@media only screen and (min-width: 768px){
    main{
        align-items: center;
    }
    .lang-cifra{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #text-codi {
        padding: min(29%, 60px);
    }
    #codificar-btn {
        padding: 10px 60px 10px 60px;
       
    }
}
